<div flex class="search">
  <!--<md-autocomplete
    ng-disabled="ctrl.isDisabled"
    md-no-cache="ctrl.noCache"
    md-selected-item="ctrl.selectedItem"
    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
    md-search-text="ctrl.searchText"
    md-selected-item-change="ctrl.selectedItemChange(item)"
    md-items="item in ctrl.querySearch(ctrl.searchText)"
    md-item-text="item.name"
    md-min-length="0"
    placeholder="Enter a search term">
    <md-item-template>
      <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
    </md-item-template>
    <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
      <div ng-message="required">You <b>must</b> have a favorite state.</div>
      <div ng-message="minlength">Your entry is not long enough.</div>
      <div ng-message="maxlength">Your entry is too long.</div>
    </div>
  </md-autocomplete>-->
  <md-input-container>
    <label>Search Messages</label>
    <input type="text" ng-model="searchText" required md-maxlength="10">
  </md-input-container>
  <md-button>
    <i class="material-icons">search</i>
  </md-button>
</div>
